* {
  box-sizing: border-box;
  margin: auto;
}

body {
  font-family: font-family: 'Roboto', sans-serif;
}

.header-box {
  background-color: #E5F3F2;
  height: 40vh;
  margin-top: -2%;
  text-align: center;
}

span {
  color: #00A79D;
}

h1 {
  color: #6D6E71;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin: 20px 0px;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #6D6E71;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  float: left;
}

p.body-text {
  margin-bottom: 10px;
}

.delete-btn {
  background-image: url('./images/delete.svg');
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  float: right;
}

.delete-btn:hover {
  background-image: url('./images/delete-hover.svg');
}

.downvote-btn {
  background-image: url('./images/down-vote.svg');
}

.downvote-btn:hover {
  background-image: url('./images/down-vote-hover.svg');
}

.upvote-btn {
  background-image: url('images/up-vote.svg');
}

.upvote-btn:hover {
  background-image: url('./images/up-vote-hover.svg');
}

.upvote-btn, .downvote-btn, .delete-btn {
  background-repeat: no-repeat;
  background-size: contain;
}


/* Input Controls */

input {
  border: 2px solid #939598;
  display: block;
  height: 35px;
  margin: auto;
  margin-bottom: 2%;
  outline: none;
  width: 40%;
  font-size: 18px;
}

.save {
  background-color: #00A79D;
  border: 2px solid #045E55;
  color: #FFFFFF;
  cursor: pointer;
  height: 35px;
  outline: none;
  width: 40%;
  font-size: 18px;
}

.save:hover {
  background-color: #045E55;
}

.search {
  margin: 20px auto;
  width: 40%;
}

.body-text {
  color: #939598;
}

.idea-card {
  width: 40%;
  margin: auto;
}

#quality {
  color: #6D6E71;
  line-height: 16px;
  margin: 15px 15px 20px 0px;
}

#quality img {
  margin-right: 15px;
  vertical-align: top;
}

img {
  width: 20px;
  height: 20px;
}

@media (max-width: 420px) {
  .save {
    width: 60%;
  }
  .card {
    width: 100%;
  }
  input {
    width: 60%;
    margin-bottom: 10%;
  }
  .search {
    width: 59%;
  }
  .idea-card {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .header-box {
    height: 50%;
    margin-top: -6%;
  }
  .save {
    width: 80%;
  }
  input {
    width: 80%;
  }
  .search {
    width: 77%;
    margin-top: 5%;
  }
  .idea-card {
    width: 90%;
  }
}
